html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #161b22;
  color: #cbcbcb;
  height: 100%;
  font-size: 120%;
}

/* HEADER : */
header {
  background-color: #161b22;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px 0 30px;
  height: 10%;
  -webkit-transform: translate(0, -100px);
          transform: translate(0, -100px);
  -webkit-animation: 1s header-down ease-out;
          animation: 1s header-down ease-out;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

.restrictive-header {
  display: none;
}

header img {
  width: 50px;
  height: 50px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h3:hover a {
  -webkit-animation: color-change-h3 0.5s;
          animation: color-change-h3 0.5s;
  color: #41a6dd;
}

header a {
  text-decoration: none;
  color: white;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  width: 15%;
}

/*  Desc    */
#description {
  background-color: #0d1116;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70%;
}

#description a {
  color: #41a6dd;
}

.bio {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 20px;
  padding: 10px;
}

/*  DECO    */
.bio:hover {
  background-color: rgba(255, 255, 255, 0);
  -webkit-animation: 0.5s bg-opacity;
          animation: 0.5s bg-opacity;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
}

.skills {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding: 10px;
}

.skills:hover {
  background-color: rgba(255, 255, 255, 0);
  -webkit-animation: 0.5s bg-opacity;
          animation: 0.5s bg-opacity;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
}

.content:hover {
  background-color: rgba(255, 255, 255, 0);
  -webkit-animation: 0.5s bg-opacity;
          animation: 0.5s bg-opacity;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
}

/* Mise en forme Text*/
.skills ul {
  font-size: large;
}

.skills ul li {
  padding-top: 10px;
}

/*MAIN SECTION*/
#main {
  background-color: #161b22;
  height: 90%;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main h1 {
  color: white;
  padding: 20px;
  text-decoration: underline;
}

.content-h1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-title::before {
  display: inline-block;
  position: absolute;
  -webkit-animation: bar-deco 2s ease-in-out;
          animation: bar-deco 2s ease-in-out;
  -webkit-transform: translate(-105%, 600%);
          transform: translate(-105%, 600%);
  content: '';
  width: 40%;
  height: 3px;
  background-color: white;
}

.main-title::after {
  display: inline-block;
  position: absolute;
  -webkit-animation: bar-deco 2s ease-in-out;
          animation: bar-deco 2s ease-in-out;
  -webkit-transform: translate(5%, 600%);
          transform: translate(5%, 600%);
  content: '';
  width: 40%;
  height: 3px;
  background-color: white;
}

#main .all-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 40px 0px;
  margin-top: 2%;
  overflow: hidden;
}

#main .content-h1 {
  margin-top: 5%;
}

#main .all-case img {
  width: 70%;
  border-radius: 20px;
}

.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0, 200%);
          transform: translate(0, 200%);
  opacity: 0;
  -webkit-animation: 2s screen-up ease-out;
          animation: 2s screen-up ease-out;
  opacity: 1;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  cursor: pointer;
}

.screen img:hover {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0.2;
}

.screen h2:hover + img {
  opacity: 0.2;
}

.screen:hover h2 {
  color: white;
  font-size: 90%;
  -webkit-animation: 0.5s visibility-subtitle;
          animation: 0.5s visibility-subtitle;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.screen h2 {
  position: absolute;
  opacity: 0;
}

#main h1 {
  opacity: 0;
  -webkit-animation: 2s visibility-subtitle ease-in;
          animation: 2s visibility-subtitle ease-in;
  opacity: 1;
}

/* FOOTER  */
footer {
  background-color: #0d1116;
  height: 30%;
  padding-left: 30px;
}

@-webkit-keyframes color-change-h3 {
  0% {
    color: white;
  }
  100% {
    color: #41a6dd;
  }
}

@keyframes color-change-h3 {
  0% {
    color: white;
  }
  100% {
    color: #41a6dd;
  }
}

@-webkit-keyframes bg-opacity {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.08);
  }
}

@keyframes bg-opacity {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.08);
  }
}

/* ANIM START PAGE*/
@-webkit-keyframes screen-up {
  0% {
    -webkit-transform: translate(0, 200%);
            transform: translate(0, 200%);
  }
  10% {
    -webkit-transform: translate(0, 200%);
            transform: translate(0, 200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
    opacity: 1;
  }
}
@keyframes screen-up {
  0% {
    -webkit-transform: translate(0, 200%);
            transform: translate(0, 200%);
  }
  10% {
    -webkit-transform: translate(0, 200%);
            transform: translate(0, 200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
    opacity: 1;
  }
}

@-webkit-keyframes header-down {
  0% {
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
}

@keyframes header-down {
  0% {
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
}

@-webkit-keyframes img-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes img-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes visibility-subtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes visibility-subtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes reverse-visibility-subtitle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes reverse-visibility-subtitle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bar-deco {
  0% {
    width: 0;
  }
  100% {
    @media screen and (max-width: 680px) {
      width: 30%;
    }
    @media screen and (min-width: 680px) {
      width: 40%;
    }
  }
}

@keyframes bar-deco {
  0% {
    width: 0;
  }
  100% {
    @media screen and (max-width: 680px) {
      width: 30%;
    }
    @media screen and (min-width: 680px) {
      width: 40%;
    }
  }
}

/*  RESTRICTIVE  */
@media screen and (max-width: 1024px) {
  header .categories {
    width: 40%;
  }
  .content {
    width: 20%;
  }
}

@media screen and (max-width: 680px) {
  .categories {
    display: none;
  }
  .content {
    width: 40%;
  }
  .restrictive-header {
    content: ' ';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restrictive-header:hover {
    -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .bar-logo {
    content: ' ';
    width: 30px;
    height: 1px;
    margin: 5px 0 5px 0;
    background-color: white;
    z-index: -1;
  }
  .restrictive-header:hover ~ .categories {
    -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 30px;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    width: auto;
    background-color: #161b22;
    opacity: 0;
    -webkit-animation: 1s visibility-subtitle;
            animation: 1s visibility-subtitle;
    opacity: 1;
  }
  .categories:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 30px;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    width: auto;
  }
  .rotate-icon {
    -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: -10px;
    margin-bottom: 10px;
  }
  .bar-logo-hover {
    -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 15px;
  }
  #description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bio {
    width: 80%;
  }
  .skills {
    width: 80%;
    display: block;
  }
  .main-title::before {
    width: 30%;
  }
  .main-title::after {
    width: 30%;
  }
  #main {
    overflow: hidden;
  }
  #main .all-case {
    height: 900px;
    width: 100%;
    overflow-x: scroll;
  }
  #main .all-case .screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 20%;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main .all-case .first-screen {
    width: 1000px;
  }
  #main .all-case .screen img {
    width: 300px;
  }
  #description {
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */